body { font-size: 16px; }
h1 {
    font-size: 2em;
    color: darkblue;
    text-align: center;
    background-color: aquamarine;
}
p {
    color: blue;
    font-style: italic;
    border-top: thin solid blue;
    border-bottom: thin solid blue;
}

.volver {
    clear: both;
    margin: 24px 8px;
    font-size: 16px;
}
