.fondo {
    height: 100vh;
    overflow: hidden;
    color: gray;
    overflow-wrap: anywhere;
}

.abm {
    position: fixed;
    top: 20%;
    left: 20%;
    width: 50%;
    max-height: 70vh;
    overflow: auto;
    background-color: aquamarine;
}

form {
    display: flex;
    flex-wrap: wrap;
    min-height: 300px;
}

.campos {
    width: 50%;
    background-color: lightblue;
    padding: 10px;
    min-height: 200px;
}

h1 {
    margin: 0;
    font-size: 32px;
}

.entradas {
    padding: 0 10%;
}

label,
input {
    display: block;
}

input {
    width: 170px;
}

.registros {
    width: 50%;
    padding: 20px;
}

select {
    width: 100%;
}

.acciones {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
}

footer {
    position: relative;
    background: white;
}

@media(max-width:600px) {
    .abm {
        left: 5%;
        top: 15%;
        width: 90%;
    }

    .campos,
    .registros {
        width: 100%;
    }

    h1 {
        font-size: 26px;
    }
}