.datos { width: 800px; max-width: 100%; background-color: lightblue; padding: 26px 60px; box-sizing: border-box; }
input { margin-bottom: 10px; }
@media (max-width: 600px) { .datos { padding: 20px; } }
