* { box-sizing: border-box; }
html, body { height: 100%; margin: 0; }
.contenedor {
    width: 90%;
    height: 100%;
    margin: auto;
    background-color: lightyellow;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    overflow: auto;
}
.contenedor img { width: 510px; max-width: 95%; height: auto; margin: 10px; }
.volver { position: fixed; bottom: 5px; left: 5px; font-size: 12px; }
