h3 { text-align: center; }
.entradas { display: grid; grid-template-columns: 200px 180px; padding-left: 40px; background-color: lightblue; margin-bottom: 16px; }
@media (max-width: 600px) { .entradas { grid-template-columns: 40% 60%; padding: 4px; } }
