* { box-sizing: border-box; }
html, body { height: 100%; margin: 0; padding: 0; }
.contenedor { position: relative; width: 90%; height: 100%; margin: auto; background-color: lightblue; }
h1 { margin: 0; font-size: 1.2vw; }
h2 { margin: 0; font-size: 1.3em; }
p { margin: 0; }
#contenedorInterno1, #contenedorInterno2, #contenedorInterno3 { position: absolute; overflow: auto; font-size: 1vw; }
#contenedorInterno1 { top: 18%; left: 10%; width: 30%; height: 45%; background-color: mediumspringgreen; z-index: 1; }
#contenedorInterno2 { top: 60%; left: 55%; width: 30%; height: 30%; background-color: palegreen; transform: rotateZ(10deg); z-index: 2; }
#contenedorInterno2 img { width: 30%; max-height: 80%; margin: 1%; }
#contenedorInterno3 { top: 45%; left: 27.5%; width: 45%; height: 45%; background-color: darkgray; opacity: .6; z-index: 3; }
.volver { position: absolute; bottom: 1%; left: 1%; font-size: 12px; }
