* { box-sizing: border-box; }
html, body { margin: 0; padding: 0; }
body { background-color: blue; font-size: 24px; }
h1 { margin: 0; font-size: 1.333em; }
.contenedor { width: 80%; margin-left: 3%; background-color: lightyellow; }
.contenedorRelativoClase1 {
    position: relative;
    width: 80%;
    height: 100px;
    margin-left: 0;
    margin-top: 10px;
    padding: 10px;
    font-size: 1.333em;
    background-color: green;
    overflow: auto;
}
.contenedorRelativoClase2 { position: relative; width: 50%; margin-left: 20%; margin-top: 40px; padding: 10px; background-color: yellow; }
.contenedorRelativoClase3 { position: relative; width: 50%; height: 150px; margin-left: 30%; margin-top: 20px; padding: 10px; background-color: orange; overflow: auto; }
.paraVentanaModal {
    position: fixed;
    width: 50%;
    height: 50%;
    top: 25%;
    left: 25%;
    padding: 2%;
    background-color: navy;
    color: yellow;
    font-size: .8em;
    font-weight: bold;
    opacity: .5;
    overflow-y: auto;
    visibility: visible;
    z-index: 10;
}
.volver { display: block; padding: 24px 8px; font-size: 16px; }
@media (max-width: 600px) { body { font-size: 16px; } }
