* { box-sizing: border-box; }
body { margin: 0; font-size: 16px; }
.contenedor { width: 80%; margin: auto; background-color: lightblue; }
.caja {
    float: left;
    width: 200px;
    max-width: 90%;
    height: 100px;
    margin: 10px;
    font-size: 2em;
    border: thin solid black;
    border-radius: 10px;
    box-shadow: 16px 8px 2px rgba(0,0,0,.3);
    overflow: auto;
}
.lineal { padding: 15px; background: linear-gradient(orange, white, pink); }
.radial { text-align: center; background: radial-gradient(orange, white, pink); }
.imagen { background: radial-gradient(orange, white, pink); }
.imagen img { max-width: 100%; max-height: 100%; }
.nuevaFila { clear: both; }

.volver {
    clear: both;
    margin: 24px 8px;
    font-size: 16px;
}
